h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
}
p,
li {
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.4em;
}

/* Crazy, I know */
img[src="/impulse.png"] {
  width: 60%;
  margin: 0 20%;
}

img[src="/the-loop.png"] {
  width: 60%;
  margin: 50px 20%;
}
