h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.post-date {
  margin-bottom: 40px;
  color: #666;
}

p,
li {
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.4em;
}

/* Crazy, I know */
img[src="/impulse.png"] {
  width: 60%;
  margin: 0 20%;
}

img[src="/the-loop.png"] {
  width: 60%;
  margin: 50px 20%;
}

img[src="/clothes.png"] {
  width: 100%;
}

img[src="/airrobe-widget.png"] {
  max-width: 500px;
}

@media (max-width: 768px) {
  img[src="/the-loop.png"] {
    width: 100%;
    margin: 20px 0;
  }
}
