.posts {
  padding: 25px 50px;
  a {
    color: #333;
    &:hover {
      color: $blue;
    }
  }
}

.post-actions {
  .destroy {
    float: right
  }
}

form.post {
  button {
    margin-top: 28px;
  }
}
