.posts {
  padding: 50px;
  a {
    color: #333;
    &:hover {
      color: $blue;
    }
  }
}

.post {
  background: #fff;
  padding: 50px;
}

.post-actions {
  position: absolute;
  top: 20px;
  a {
    margin: 20px;
  }
}

form.post {
  button {
    margin-top: 28px;
  }
}

@media (max-width: 768px) {
  .post {
    padding: 10px;
  }
}
