.sidebar {
  background: #fff;
  border-right: 2px solid $red;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  min-height: 100%;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .content {
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    text-align: center;
    h1 {
      margin-top: 0;
      a {
        color: $blue;
        &:hover, &:active {
          text-decoration: none;
        }
      }
    }
    hr {
      border-top: 1px solid #ddd;
    }
    .about i, .social i {
      font-size: 25px;
      width: 25px;
      text-align: center;
    }
    .about, .social {
      margin-top: 15px;
    }
    .about {
      position: relative;
      padding-left: 30px;
      text-align: left;
      color: #777;
      i {
        left: 0;
        top: -8px;
        position: absolute;
        color: $blue;
        &.smaller {
          font-size: 22px;
          top: -5px;
        }
      }
      &:hover {
        color: inherit;
      }
    }
    .social {
      position: absolute;
      bottom: 225px;
      right: 10px;
      a {
        margin-right: 18px;
      }
    }
    a {
      color: #777;
      &:hover, &:active {
        text-decoration: none;
        color: $blue;
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    width: 100%;
    border: none;
    img {
      display: none;
    }
    .content {
      .about {
        display: none;
      }
      .social {
        position: static;
      }
    }
  }
}
