.posts
  - posts.each do |post|
    .card.padded.blue
      .medium-editor-document
        %h2= link_to post.title, post
        .layout-single-column
          = post.summary.html_safe
          %p
            %em= link_to 'Read more...', post
